<% stylesheet_link_tag "index" %>

<div class="header">
  <h1>Secret Base</h1>
  <%= link_to "New Post", new_post_path, class: "link" %>
  <%= link_to "User Info", "/users/edit", class: "link" %>
</div>

<div class="main">
  <% @posts.each do |post| %>
    <div class="post">
      <div><%= post.user.username %></div>
      <div><%= post.title %> - <%= post.body %></div>
    </div>
  <% end  %>
</div>
