<% stylesheet_link_tag "new" %>

<div class="body">
  <div class="form">
    <h1>New Post</h1>
  
    <div class="inputs">
      <%= form_with model: @post do |form| %>
        <div>
          <%= form.label :title, class: "title_label" %>
          <%= form.text_field :title, class: "input" %>
        </div>
  
        <div>
          <%= form.label :body %>
          <%= form.text_field :body, class: "input", class: "body_input" %>
        </div>
  
        <%= form.submit "Submit Post" %>
      <% end %>
    </div>
  </div>
</div>



